

html, body {
  min-height:100vh;
}

body {
  display:flex; 
  align-items:center; 
  flex-flow:column nowrap;
  overflow-x:hidden;
}

.title {
  font:1.3em/1 monospace;
  font-variant:small-caps;
  letter-spacing:0.5em;
  margin:4em;
}
.gallery {
  perspective:700px;
  width:50vw;
  display:flex; justify-content:center; align-items:center; flex-flow:row wrap;
}






.gallery {
  perspective:700px;
  width:50vw;
  display:flex; justify-content:center; align-items:center; flex-flow:row wrap;
}

ul {
  position:relative;
  width:100px; height:100px;
  margin:0.1em;
  perspective-origin:center center;
  transform-style:preserve-3d;
  transform:rotateX(40deg);
  transition:all 0.4s;
}

ul:hover {
  transform:translateZ(100px) rotateX(20deg); z-index:999;
}

ul:hover li {
  filter:grayscale(0);
}

li  {
  position:absolute; left:0; top:0;
  backface-visibility:hidden;
  width:100%; height:100%;
  transition:transform 0.3s, filter 1s;
  background:coral;
  filter:grayscale(0.9);
}
/*
Setup individual planes final poistion(by left top) and initial position(by transform)
*/
li:first-of-type {transform:none;}
li:nth-of-type(2) {left:100%; transform-origin:left center; transform:rotateY(180deg);}
li:nth-of-type(3) {top:100%; transform-origin:center top; transform:rotateX(-180deg);}
li:nth-of-type(4) {left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
li:nth-of-type(5) {top:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
li:nth-of-type(6) {top:100%; left:100%; transform-origin:center top; transform:rotateX(-180deg);}
li:nth-of-type(7) {top:100%; left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
li:nth-of-type(8) {top:-100%; left:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
li:nth-of-type(9) {top:-100%; left:100%; transform-origin:left center; transform:rotateY(180deg);}
/*
Setup transition-delay, for mouseout state 
*/
li:nth-of-type(2),li:nth-of-type(3),li:nth-of-type(4),li:nth-of-type(5) {transition-delay:0.03s;}
li:nth-of-type(6),li:nth-of-type(7),li:nth-of-type(8),li:nth-of-type(9) {transition-delay:0s;}
ul:hover :nth-of-type(2),ul:hover :nth-of-type(3),ul:hover :nth-of-type(4),ul:hover :nth-of-type(5) {transition-delay:0s}
ul:hover :nth-of-type(6),ul:hover :nth-of-type(7),ul:hover :nth-of-type(8),ul:hover :nth-of-type(9) {transition-delay:0.2s}
/*
Setup planes final state
*/
ul:hover :nth-of-type(2),ul:hover :nth-of-type(4),ul:hover :nth-of-type(7),ul:hover :nth-of-type(9) {transform:rotateY(0);}
ul:hover :nth-of-type(3), ul:hover :nth-of-type(5),ul:hover :nth-of-type(6), ul:hover :nth-of-type(8) {transform:rotateX(0);}
/* 
Set background position
*/
ul li {background-size:300% 300%;}
li:nth-of-type(1) {background-position:center center;}
li:nth-of-type(2) {background-position:right center;}
li:nth-of-type(3) {background-position:center bottom;}
li:nth-of-type(4) {background-position:left center;}
li:nth-of-type(5) {background-position:center top;}
li:nth-of-type(6) {background-position:right bottom;}
li:nth-of-type(7) {background-position:left bottom;}
li:nth-of-type(8) {background-position:left top;}
li:nth-of-type(9) {background-position:right top;}
/*
Set background image source
*/
ul:nth-of-type(1) li { background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3R6CFB2ES7eSRwpsTBmmJnaS2nPKojEIhJplpf_HfWlLYLXbNR_kPMyjXn6EAtqKx44A&usqp=CAU);}
ul:nth-of-type(1) { width:120px; height:80px; }
ul:nth-of-type(2) li { background-image:url(https://images.unsplash.com/photo-1600195077077-7c815f540a3d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dW5pdmVyc2l0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);}
ul:nth-of-type(2) {  }
ul:nth-of-type(3) li { background-image:url(https://images.unsplash.com/photo-1562585195-97aff4b3848c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dW5pdmVyc2l0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);}
ul:nth-of-type(3) {  }
ul:nth-of-type(4) li { background-image:url(https://images.unsplash.com/photo-1577036421869-7c8d388d2123?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHVuaXZlcnNpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);}
ul:nth-of-type(4) { }
ul:nth-of-type(5) li { background-image:url(https://images.unsplash.com/photo-1564910443496-5fd2d76b47fa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHVuaXZlcnNpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);}
ul:nth-of-type(5) { }
ul:nth-of-type(6) li { background-image:url(https://images.unsplash.com/photo-1580537782437-8d6a0ca13de6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fHVuaXZlcnNpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);}
ul:nth-of-type(6) {  }
/* 
Hide debug label 
*/
li { text-indent:999px; overflow:hidden; }






.effe1{transform: translate(-56%,1px);}
.effe2{transform: translate(53%, -100%);}
.effe3{transform: translate(113%, -301%);}


.portfolio-effect {
  display: flex;
  justify-content: space-between;
}



.box-text h1 {
  font-size: 2.2em;
  font-family: 'Bellefair', serif;
font-family: 'Comfortaa', cursive;
}




.box-text p {font-size: 1.4em;}
.box-text:hover{opacity: 0;}

.box-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 10px;
    background-image: linear-gradient( 135deg, rgba(129, 255, 239, 0.50) 10%, rgba(240, 103, 180, 0.65) 100%);
  opacity: 1;
  transition: 0.3s linear;
  color: #FFF;
  font-family: 'Bellefair', serif;
font-family: 'Satisfy', cursive;
/* font-family: 'Slabo 27px', serif; */
/* font-family: 'Vidaloka', serif; */
  text-shadow: 2px 2px 2px #333;
  
}
.ul1{width:120px; height:80px;}
.ul2{width:90px; height:130px; }
.ul3{ width:130px; height:90px;}
.ul4{width:120px; height:80px; }
.ul5{width:64px; height:84px;}
.ul6{width:100px; height:66px;}


.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}


.share-options1.active {
    transition-delay: 0s;
    z-index: 3;
    transform: scale(1) translate(44%, -287%);
}


.share-options2.active {
    transform: scale(1) translate(-121%, -27%);
    transition-delay: 0s;
    z-index: 2;
}


.share-options {
    position: revert;
    bottom: -111%;
    left: 68%;
    width: auto;
    height: auto;
    transform-origin: bottom left;
    transform: scale(0);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(15, 15, 15, 0.5);
    color: #fff;
    padding: 20px;
    font-family: 'roboto';
    transition: .5s;
    transition-delay: .5s;
}

.share-options.active {
    transform: scale(0.9) translate(173%, -561%);
    transition-delay: 0s;
}







.container {
    width: 350px;
    margin: 50px auto 0px auto;
    text-align: center;
}











@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
  background: #111b25;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Pacifico";
}

.info {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: beige;
}

.w {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba(66, 66, 66, 0.5) url("http://unsplash.imgix.net/reserve/de9uL9L7RSmzV4SAoAO5_Lauren%20and%20Winona%20Under%20a%20pass-1.jpg?fit=crop&fm=jpg&h=1500&q=75&w=2400") repeat fixed;
  background-position: 50% 100%;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.i {
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
  z-index: 4;
  padding: 2px;
  -webkit-transition: all 2.5s linear;
  transition: all 2.5s linear;
  background: rgba(66, 66, 66, 0.5) url("http://unsplash.imgix.net/reserve/de9uL9L7RSmzV4SAoAO5_Lauren%20and%20Winona%20Under%20a%20pass-1.jpg?fit=crop&fm=jpg&h=1500&q=75&w=2400") repeat fixed;
  background-size: cover;
  background-position: 50% 100%;
  border-radius: 0%;
}
.i:hover {
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  border-radius: 100%;
  -webkit-transform: rotate(0deg) scale(2);
          transform: rotate(0deg) scale(2);
}

.h {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 35px;
  font-size: 40px;
  color: beige;
  text-shadow: 0 5px 17px rgba(87, 87, 80, 0.85);
}

.menu {
position: fixed;
width: 1089px;
height: 900px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -1095px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 900ms;
margin-top:1px;
line-height: 90px;
z-index:2;
margin-left: 100px

}
#container {
/*  العرض تلقائي حتي تكون الصورة متجاوبة مع الشاشاة المختلفة */
  width: auto;
/*  تم وضع اقصي مساحة للعرض حتي نحافظ علي جماليات التصميم */
  max-width: 500px;
/*  الطول تلقائي حتي تحتفظ الصورة اللي بداخله دقتها وتكون متجاوبة */
  height: auto;
/*  لتوسيط الحاوية في وسط الصفحة */
  margin: 5em auto;
/*  اي شئ خارج نطاق الحاوية قم بأخفاءه */
  overflow: hidden;
/*  الاطار الخاص بالحاوية */
  border: 10px solid #EEE5E5;
  outline: 5px dashed #EEE5E5;

  position: relative;
/*  z-index: 1; */
  
  
}



.glyphicon-remove, ul {
    color: white;
    padding: 10px;

    
}


/* Added an invisible block */



.inv {
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    margin:0;
}




*{
padding:0;
margin:0;
font-family: Canela Dec Web;  


}


#sidebar.active{
right: 250px;
top:3px;
z-index: 2;
}

#sidebar ol div:first-child {
  text-align: center;
  color: white;
  font-size:1.95em;
  list-style-type: none;
  padding: 10px 10px 150px 10px;


}
#sidebar ol div:not(:first-child) {
  width: 90%;
  text-align: center;
  color: white;
  font-size:1.1em;
  list-style-type: none;
  padding: 15px 10px ;
  font-size:70px;

}
#sidebar ol div a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ol div a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 1105px;
top: 20px;
background: #E0E5EA;
padding: 10px;   
border-radius:12px;
cursor: pointer;
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 
}

.wave{


  float:right ; width: :102px ; height:82px; padding-right: 30px
}


.knuu{

  float:left ; width: :162px ; height:92px;
}


     












@media(max-width: 1500px) 

{
.menu {
position: fixed;
width: 850px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -860px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;
}
#sidebar.active{
right: 40px;
top:3px;
z-index: 2;
}
#sidebar ol div:first-child {
  text-align: center;
  color: white;
  font-size:2.4em;
  list-style-type: none;
  padding: 1px 10px 80px 10px;
color: white;
  
}
#sidebar ol div:not(:first-child) {
  width: 53%;
  margin-left:163px;
  color: white;
  font-size:2.9em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white;
 
  margin-bottom:5px;
}




#sidebar ol div a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ol div a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 870px;
top: 20px;
background: #E0E5EA;
padding: 15px;   
border-radius:12px;
cursor: pointer;
margin-right: 15px;
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 

 

}









/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/












}







@media (max-width:1200px ){
.container{
  

width:1140px ;
 

}






.content__container{















}









.divv{
transition: opacity 1.2s cubic-bezier(.4,0,.2,1),transform 1.2s cubic-bezier(.4,0,.2,1);
transition-delay: .1s;
opacity: 1;
transform: translateY(0);
flex: 0 0 auto;margin: 0;
width: calc(50% - 24px);
z-index: 2;
font-family: GT America Standard Regular; 
font-size: 18px;
line-height: 1.5;
font-style: normal;
font-weight: 400;
letter-spacing: -.1px;
color: #1e1e1e;
display: contents;
flex-wrap: wrap;
text-align: center;
float: center
}




.divdiv{

padding-left: 24px;
padding-right: 24px;
max-width: 1440px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-wrap: wrap; 


}


.h22{
padding-left:250px ;
font-family: Canela Deck Web;
    font-size: 48px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 550;
    letter-spacing: -.1px;
text-align: center

  
}



.ul1{width:150px; height:110px;}
.ul2{width:140px; height:180px; }
.ul3{ width:180px; height:110px;}
.ul4{width:170px; height:130px; }
.ul5{width:114px; height:134px;}
.ul6{width:150px; height:116px;}







/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/
/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/
/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/














}
/*<!------------------------------------------------------------------------------------------------------------------------->*/
@media (max-width:1199px ){
.container{
 
width: ;
 

}

.h22{
padding-left:250px ;
font-family: Canela Deck Web;
    font-size: 48px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 550;
    letter-spacing: -.1px;
text-align: center

  
}

.menu {
position: fixed;
width: 500px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -520px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;
}
#sidebar.active{
right: 25px;
top:3px;
z-index: 2;
}
#sidebar ol div:first-child {
  text-align: center;
  color: white;
  font-size:2.0em;
  list-style-type: none;
  padding: 1px 1px 15px 1px;
color: white

}
#sidebar ol div:not(:first-child) {
  width: 40%;
 
  color: white;
  font-size:2.3em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white;
    text-align: center;
}




#sidebar ol div a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ol div a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 520px;
top: 20px;
background: #E0E5EA;
padding: 20px;   
border-radius:12px;
cursor: pointer;
margin-right: 15px

}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 








}

.effe1{transform: translate(-56%,1px);}
.effe2{transform: translate(53%, -100%);}
.effe3{transform: translate(113%, -301%);}

}





/*<!------------------------------------------------------------------------------------------------------------------------->*/





@media (max-width:991px ){
.container{

 
width:720px; 

}



#sidebar .toggle-btn{
position: absolute;
right: 520px;
top: 20px;
background: #E0E5EA;
padding: 20px;   
border-radius:12px;
cursor: pointer;
    margin-right: 25px;
}


.menu {
position: fixed;
width: 470px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -520px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;
}




.box-text h1 {
  font-size: 400%;
  font-family: 'Bellefair', serif;
font-family: 'Comfortaa', cursive;
}




.box-text p {font-size: 180%;}
.box-text:hover{opacity: 0;}

.box-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 10px;
    background-image: linear-gradient( 135deg, rgba(129, 255, 239, 0.50) 10%, rgba(240, 103, 180, 0.65) 100%);
  opacity: 1;
  transition: 0.3s linear;
  color: #FFF;
  font-family: 'Bellefair', serif;
font-family: 'Satisfy', cursive;
/* font-family: 'Slabo 27px', serif; */
/* font-family: 'Vidaloka', serif; */
  text-shadow: 2px 2px 2px #333;
  
}



#container {
/*  العرض تلقائي حتي تكون الصورة متجاوبة مع الشاشاة المختلفة */
  width: 688px;
/*  تم وضع اقصي مساحة للعرض حتي نحافظ علي جماليات التصميم */
  max-width: 153%;
/*  الطول تلقائي حتي تحتفظ الصورة اللي بداخله دقتها وتكون متجاوبة */
  height: auto;
/*  لتوسيط الحاوية في وسط الصفحة */
  margin: 5em auto;
/*  اي شئ خارج نطاق الحاوية قم بأخفاءه */
  overflow: hidden;
/*  الاطار الخاص بالحاوية */
  border: 10px solid #EEE5E5;
  outline: 5px dashed #EEE5E5;

  position: relative;
/*  z-index: 1; */
  
  
}


.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 225px;
  height: 300px;
}


.share-options.active {
  transform: scale(0.83) translate(141%, -602%);
  transition-delay: 0s;
}
.share-options {
    position: revert;
    bottom: -111%;
    left: 68%;
    width: 260px;
    height: auto;
    transform-origin: bottom left;
    transform: scale(0);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(15, 15, 15, 0.5);
    color: #fff;
    padding: 20px;
    font-family: 'roboto';
    transition: .5s;
    transition-delay: .5s;
}



.effe1{transform: translate(-56%,1px);}
.effe2{transform: translate(53%, -100%);}
.effe3{transform: translate(97%, -301%);}





.share-options1.active {
    transition-delay: 0s;
    z-index: 3;
    transform: scale(1) translate(30%, -287%);
}

.share-options2.active {
    transform: scale(1) translate(-94%, -27%);
    transition-delay: 0s;
    z-index: 2;
}










}



/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/


/*<!------------------------------------------------------------------------------------------------------------------------->*/



@media (max-width:790px ){
.container{
  
width:540px 


}
.imgg{
padding-left:8%;
padding-right:5%;

width: 50%;

height:380px; width:600px;

padding-top: 30px ;


  
}


.menu {
position: fixed;
width: 470px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -520px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;
}
#sidebar.active{
right: 40px;
top:3px;
z-index: 2;
}
#sidebar ol div:first-child {
  text-align: center;
  color: white;
  font-size:2.4em;
  list-style-type: none;
  padding: 1px 10px 80px 10px;
color: white

}
#sidebar ol div:not(:first-child) {
  width: 70%;
  margin-left:30px;
  color: white;
  font-size:2.9em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white;
    text-align: center;
  margin-bottom:5px;
}





#sidebar ol div a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ol div a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 520px;
top: 20px;
background: #E0E5EA;
padding: 20px;   
border-radius:12px;
cursor: pointer;
margin-right: 20px
   
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 

}

   .h22{

font-family: Canela Deck Web;
    font-size: 35px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.1px;
padding-right: 10px


}

.grow_skew_forward{

margin-left: 210px;
width:310px ;
font-size: 20px



}




.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}



.share-options {
    position: revert;
    bottom: -111%;
    left: 68%;
    width: 260px;
    height: auto;
    transform-origin: bottom left;
    transform: scale(0);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(15, 15, 15, 0.5);
    color: #fff;
    padding: 20px;
    font-family: 'roboto';
    transition: .5s;
    transition-delay: .5s;
}



.effe1{transform: translate(63%,1px);}
.effe2{transform: translate(64%, 43%);}
.effe3{transform: translate(18%, -13%);}



#container {
/*  العرض تلقائي حتي تكون الصورة متجاوبة مع الشاشاة المختلفة */
 
/*  تم وضع اقصي مساحة للعرض حتي نحافظ علي جماليات التصميم */
  max-width: 153%;
/*  الطول تلقائي حتي تحتفظ الصورة اللي بداخله دقتها وتكون متجاوبة */
  height: auto;
/*  لتوسيط الحاوية في وسط الصفحة */
  margin: 5em auto;
/*  اي شئ خارج نطاق الحاوية قم بأخفاءه */
  overflow: hidden;
/*  الاطار الخاص بالحاوية */
  border: 10px solid #EEE5E5;
  outline: 5px dashed #EEE5E5;

  position: relative;
/*  z-index: 1; */
      width: 91%;
  
}
.share-options2.active {
    transform: scale(0.8) translate(-3%, -27%);
    transition-delay: 0s;
    z-index: 2;
}
.share-options1.active {
    transition-delay: 0s;
    z-index: 3;
    transform: scale(0.8) translate(63%, -140%);
}

.share-options.active {
    transform: scale(1) translate(56%, -165%);
    transition-delay: 0s;
}

.container {
    width: 250px;
    margin: 50px auto 0px auto;
    text-align: center;
}



}



/*<!------------------------------------------------------------------------------------------------------------------------->*/

@media(max-width: 500px){

.menu {
position: fixed;
width: 470px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -530px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;

}
#sidebar.active{
right: 40px;
top:3px;
z-index: 2;
}
#sidebar ol div:first-child {
  text-align: center;
  color: white;
  font-size:2.0em;
  list-style-type: none;
  padding: 1px 10px 80px 10px;
color: white

}
#sidebar ol div:not(:first-child) {
  width: 42%;
  margin-left:10px;
  color: white;
  font-size:2.0em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white;
    text-align: center;
  margin-bottom:5px;
}





#sidebar ol div a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ol div a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 550px;
top: 20px;
background: #E0E5EA;
padding: 20px;   
border-radius:12px;
cursor: pointer;
margin-right: 20px
   
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 

}



.knuu{

float:left ; width: :162px ; height:65px;

}
.wave{

  float:right ; width: :102px ; height:52px; padding-right: 240px
}




.animated-word {
  font-family: Helvetica;
  letter-spacing: 0.130em;
  font-weight: 600;
  font-size: 40px;
  text-align: ;
  color: #202125;
  cursor: pointer;
  max-width: 200px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: rgba(71, 126, 232,0.5);
  outline-offset: 70px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
 margin-left:25%;margin-top:20px;margin-bottom: 200px;margin-right:10% 
}



.box-text h1 {
  font-size: 3.4em;
  font-family: 'Bellefair', serif;
font-family: 'Comfortaa', cursive;
}




.box-text p {font-size: 2.3em;}
.box-text:hover{opacity: 0;}

.box-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 10px;
    background-image: linear-gradient( 135deg, rgba(129, 255, 239, 0.50) 10%, rgba(240, 103, 180, 0.65) 100%);
  opacity: 1;
  transition: 0.3s linear;
  color: #FFF;
  font-family: 'Bellefair', serif;
font-family: 'Satisfy', cursive;
/* font-family: 'Slabo 27px', serif; */
/* font-family: 'Vidaloka', serif; */
  text-shadow: 2px 2px 2px #333;
  
}



#container {
/*  العرض تلقائي حتي تكون الصورة متجاوبة مع الشاشاة المختلفة */
  width: 828px;
/*  تم وضع اقصي مساحة للعرض حتي نحافظ علي جماليات التصميم */
  max-width: 153%;
/*  الطول تلقائي حتي تحتفظ الصورة اللي بداخله دقتها وتكون متجاوبة */
  height: 400px;
/*  لتوسيط الحاوية في وسط الصفحة */
  margin: 5em auto;
/*  اي شئ خارج نطاق الحاوية قم بأخفاءه */
  overflow: hidden;
/*  الاطار الخاص بالحاوية */
  border: 10px solid #EEE5E5;
  outline: 5px dashed #EEE5E5;

  position: relative;
/*  z-index: 1; */
  
  
}

.ul1{width:120px; height:80px;}
.ul2{width:90px; height:130px; }
.ul3{ width:130px; height:90px;}
.ul4{width:120px; height:80px; }
.ul5{width:64px; height:84px;}
.ul6{width:100px; height:66px;}


#container {
/*  العرض تلقائي حتي تكون الصورة متجاوبة مع الشاشاة المختلفة */
 
/*  تم وضع اقصي مساحة للعرض حتي نحافظ علي جماليات التصميم */
  max-width: 153%;
/*  الطول تلقائي حتي تحتفظ الصورة اللي بداخله دقتها وتكون متجاوبة */
  height: auto;
/*  لتوسيط الحاوية في وسط الصفحة */
  margin: 5em auto;
/*  اي شئ خارج نطاق الحاوية قم بأخفاءه */
  overflow: hidden;
/*  الاطار الخاص بالحاوية */
  border: 10px solid #EEE5E5;
  outline: 5px dashed #EEE5E5;

  position: relative;
/*  z-index: 1; */
      width: 94%;
  
}




.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}


.share-options.active {
    transform: scale(1) translate(122%, -505%);
    transition-delay: 0s;
}
.share-options {
    position: revert;
    bottom: -111%;
    left: 68%;
    width: 260px;
    height: auto;
    transform-origin: bottom left;
    transform: scale(0);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(15, 15, 15, 0.5);
    color: #fff;
    padding: 20px;
    font-family: 'roboto';
    transition: .5s;
    transition-delay: .5s;
}


.portfolio-effect {
  display: block;
  justify-content: space-between;
}






.effe1{transform: translate(3%,85px);}
.effe2{transform: translate(4%, 0%);}
.effe3{transform: translate(3%, -53%);}


.container {
    width: 323px;
}






.share-options2.active {
    transform: scale(0.8) translate(46%, -140%);
    transition-delay: 0s;
    z-index: 2;
}
.share-options1.active {
    transition-delay: 0s;
    z-index: 3;
    transform: scale(0.8) translate(48%, -206%);
}
.share-options.active {
    transform: scale(0.8) translate(44%, -258%);
    transition-delay: 0s;
}









}










/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/

/*<!------------------------------------------------------------------------------------------------------------------------->*/














@media (max-width:426px ){
.container{
 
width:425;
}


.imgg
{
  height: 226px;
  width: 350px
}
.h22{
padding-left:40px ;
font-family: Canela Deck Web;
font-size: 32px;
line-height: 1.1;
font-style: normal;
font-weight: 560;

letter-spacing: -.1px;
text-align: center;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
padding-right: none
}
.grow_skew_forward{

margin-left: 80px;
width:240px ;
font-size: 13px
}
.content__container {
    font-size: 45px;
        padding: 0 0px;
}
.content {
left:130%;
}


.content__container__list {
    padding-left: 57%;


}




.ul1{width:100px; height:60px;}
.ul2{width:70px; height:110px; }
.ul3{ width:110px; height:70px;}
.ul4{width:100px; height:60px; }
.ul5{width:44px; height:64px;}
.ul6{width:80px; height:46px;}



}







/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/




@media (max-width:321px ){
.container{
 
width:321px;
}

.imgg
{
  height: 170px;
  width: 270px
}

.grow_skew_forward{

margin-left: 26px;
width:240px ;
font-size: 13px
}




.menu {
position: fixed;
width: 470px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -530px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;

}
#sidebar.active{
right: 40px;
top:3px;
z-index: 2;
}
#sidebar ol div:first-child {
  text-align: center;
  color: white;
  font-size:0.7em;
  list-style-type: none;
  padding: 1px 1px 15px 1px;
color: white

}
#sidebar ol div:not(:first-child) {
  width: 40%;
  margin-left:1px;
  color: white;
  font-size:1.3em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white

}




#sidebar ol div a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ol div a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 550px;
top: 20px;
background: #E0E5EA;
padding: 10px;   
border-radius:12px;
cursor: pointer;
margin-right: 20px
   
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 

}

.wave{

  float:right ; width: :102px ; height:52px; padding-right: 167px
}

.content__container {
    font-size: 14px;
        padding: 0 0px;
}
.content {
left:45%;
}


.content__container__list {
    padding-left: 54%;


}

.gallery {
    perspective: 700px;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


}





























