

.menu {
position: fixed;
width: 1089px;
height: 900px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -1095px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 900ms;
margin-top:1px;
line-height: 90px;
z-index:2;
margin-left: 100px

}



.glyphicon-remove, ul {
    color: white;
    padding: 10px;

    
}


/* Added an invisible block */



.inv {
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    margin:0;
}




*{
padding:0;
margin:0;
font-family: Canela Dec Web;  


}


#sidebar.active{
right: 250px;
top:3px;
z-index: 2;
}

#sidebar ul li:first-child {
  text-align: center;
  color: white;
  font-size:1.95em;
  list-style-type: none;
  padding: 10px 10px 150px 10px;


}
#sidebar ul li:not(:first-child) {
  width: 90%;
  text-align: center;
  color: white;
  font-size:1.1em;
  list-style-type: none;
  padding: 15px 10px ;
  font-size:70px;

}
#sidebar ul li a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ul li a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 1105px;
top: 20px;
background: #E0E5EA;
padding: 10px;   
border-radius:12px;
cursor: pointer;
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 
}

.wave{


  float:right ; width: :102px ; height:82px; padding-right: 30px
}


.knuu{

  float:left ; width: :162px ; height:92px;
}



.ww{



text-align:left;color:black ;font-size:50px;text-align: center


}
  


.all{
padding: 130px;text-align: center; font-size: 70px;color: white ;font-family:Resonay Solid Medium;font-size-adjust;padding-top: 130px;text-shadow:1px 1px 2px black, 0 0 1em black;  


}

.pr{

text-align:left;
color:black ;
font-size:25px
}



.fi{

padding: 300px;text-align: center; font-size: 70px;color: white ;font-family:Resonay Solid Medium;font-size-adjust;padding-top: 250px;text-shadow:1px 1px 2px black, 0 0 1em black;


}



.taf{
color:#1E1E1E;font-size:38px;font-family: Canela Dec Web;text-align: center;padding-right:220px



}


.pp{
  letter-spacing: -.1px;background-size: 0 1px;transition: all .3s;position: relative;line-height: 2;font-family:GT Amirica Standart Bold; color:#292c2f;padding: : 16px;border-top: 1px solid #bac5c6;
}

.ppp{


font-family:GT America Standart Regular;font-size: 18;margin-bottom: 32px;
}
.hhh{
font-family:Canela Dec Web ;font-size: 48px;padding-right: 70px;


}
.gif{
padding-right:50px;padding-top:800px 


}
.gif1{

padding-right:50px;padding-top:1400px
}
.back{
background-color: black; padding-left:70px ; margin-right:35px;padding-top:70px;padding-bottom:60px ;text-align: initial  ;
}


 .classs{

font-family:  Canela Dec Web ;line-height: 0.1;font-size: 56px;padding-right: 10px;padding-top:1px;float: center  ;margin-left: 100px;margin-top: 50px;color:black;

 }
.knu{

float:left ; width: :162px ; height:92px;

}
.ban{

margin: 100px;padding-left:20px;padding-right:20px  
}

   table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
   }
   table.text td {
    width: 50%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
   td.rightcol { /* Правая ячейка */ 
    text-align: right; /* Выравнивание по правому краю */
   }
.cov{


  padding: 130px;text-align: center; font-size: 70px;color: white ;font-family:Resonay Solid Medium;font-size-adjust;padding-top: 130px;text-shadow:1px 1px 2px black, 0 0 1em black;  
}
.covv{
  padding: 60px;text-align: center; font-size: 50px;color: white ;font-family:Resonay Solid Medium;font-size-adjust;padding-top: 130px;text-shadow:1px 1px 2px black, 0 0 1em black;  
}


.dast{

color:#1E1E1E;font-size:38px;font-family: Canela Dec Web;text-align: center;padding-right: 200px;padding-top: 8px 
}










.anim-show{
float:left;padding-right:70px;padding-bottom:100px ;width:750px;padding-left:140px;padding-top:20px;
font-size:25px;
padding:20px;
margin:auto;
text-align:center;
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show 1.7s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 1s; /* Задержка перед началом */
}
@keyframes show{
0%{
opacity:0;

}
100% {
opacity:1;
transition: 1s
}
}
.anim-show2{
font-size:25px;
padding:111px;
margin:auto;
text-align:center;
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show 1.7s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 3s; /* Задержка перед началом */
padding-top: 360px;
}
@keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
transition: 1s
}
}
}
@keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
transition: 1s
}
}
.anim-show3{
float:left;
padding-right:30px;
padding-bottom:750px ;
width:900px;
padding-left:30px;
padding-top:340px ;
font-size:25px;
padding:20px;
margin:auto;
text-align:center;
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show 1.7s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 5s; /* Задержка перед началом */
}
@keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
transition: 1s
}
}




















.f{
font-family:  Canela Dec Web ;line-height: 1;font-size: 56px;padding-right: 10px;padding-top:1px;float: center  ;margin-left: 100px;margin-top: 400px;padding-top: 1200px;color:black;
}
.style{

background-image:url(https://info-one.ua/wp-content/uploads/2020/03/F359ABA0-F355-488E-909A-5B876C018A5B_w1023_r1_s.jpg); background-repeat:no-repeat;background-attachment: fixed;background-size: cover; 
}

 .rightcol{
padding:120px;padding-top: 120px;padding-right:20px;padding-left: 35px;padding-bottom:120px

 }
.class{

float: left;
padding: 1px;
    padding-right: 70px;
    padding-bottom: 100px;
    width: 970px;
    padding-left: 140px;
    padding-top: 20px;
    font-size: 25px;
    margin: auto;
    text-align: center;
    opacity: 0;
    transition: 1s;
    animation: show 1.7s 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;">
}
.dada{


  font-family:Canela Dec Web ;font-size: 48px;padding-right: 1px;padding-top:1px;float: center  ;margin-left: 270px;margin-top: 150px;color:black;
}




















@media (max-width:1530px ){
.container{
  

width:1140px ;
 

}

.pase{
margin-left: 100px;
margin-top: 70px
}



.dws-menu{

padding-left: 150px

}
.menu {
position: fixed;
width: 850px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -860px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;
}
#sidebar.active{
right: 40px;
top:3px;
z-index: 2;
}
#sidebar ul li:first-child {
  text-align: center;
  color: white;
  font-size:2.4em;
  list-style-type: none;
  padding: 1px 10px 80px 10px;
color: white;
  
}
#sidebar ul li:not(:first-child) {
  width: 53%;
  margin-left:163px;
  color: white;
  font-size:2.9em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white;
 
  margin-bottom:5px;
}




#sidebar ul li a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ul li a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 870px;
top: 20px;
background: #E0E5EA;
padding: 15px;   
border-radius:12px;
cursor: pointer;
margin-right: 15px;
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 

}









/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/








}







@media (max-width:1200px ){
.container{
  

width:1140px ;
 

}











/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/
/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/
/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/














}









/*<!------------------------------------------------------------------------------------------------------------------------->*/
@media (max-width:1199px ){
.container{
 
width:760px ;
 

}

.pp{

text-align:left;




}

.style{

    background-image: url(https://info-one.ua/wp-content/uploads/2020/03/F359ABA0-F355-488E-909A-5B876C018A5B_w1023_r1_s.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    left: -20p;
    background-size: contain;
    margin-left: 100px;
    width: 1500px;

}
 .rightcol{;
padding:px;padding-top: 120px;padding-right:px;padding-left: px;padding-bottom:120px;

    text-align: left;


 }
.rightcol {
    padding: 0px;
    padding-top: 120px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 120px;
    text-align: left;
}



.dws-menu{

padding-left: 180px

}
.pase{
margin-left: 415px;
margin-top: 70px
}


.menu {
position: fixed;
width: 500px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -520px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;
}
#sidebar.active{
right: 25px;
top:3px;
z-index: 2;
}
#sidebar ul li:first-child {
  text-align: center;
  color: white;
  font-size:2.0em;
  list-style-type: none;
  padding: 1px 1px 15px 1px;
color: white

}
#sidebar ul li:not(:first-child) {
  width: 40%;
 
  color: white;
  font-size:2.3em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white;
    text-align: center;
}




#sidebar ul li a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ul li a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 520px;
top: 20px;
background: #E0E5EA;
padding: 20px;   
border-radius:12px;
cursor: pointer;
margin-right: 15px

}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 









}





/*<!------------------------------------------------------------------------------------------------------------------------->*/





@media (max-width:991px ){
.container{

 
width:720px; 

}







#sidebar .toggle-btn{
position: absolute;
right: 520px;
top: 20px;
background: #E0E5EA;
padding: 20px;   
border-radius:12px;
cursor: pointer;
    margin-right: 25px;
}


.menu {
position: fixed;
width: 470px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -520px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;
}










}



/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/


/*<!------------------------------------------------------------------------------------------------------------------------->*/



@media (max-width:790px ){
.container{
  
width:540px ;

  
}

table.text td {



display: block;


}


.text{




}




.menu {
position: fixed;
width: 470px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -520px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;
}
#sidebar.active{
right: 40px;
top:3px;
z-index: 2;
}
#sidebar ul li:first-child {
  text-align: center;
  color: white;
  font-size:2.4em;
  list-style-type: none;
  padding: 1px 10px 80px 10px;
color: white

}
#sidebar ul li:not(:first-child) {
  width: 70%;
  margin-left:30px;
  color: white;
  font-size:2.9em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white;
    text-align: center;
  margin-bottom:5px;
}





#sidebar ul li a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ul li a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 520px;
top: 20px;
background: #E0E5EA;
padding: 20px;   
border-radius:12px;
cursor: pointer;
margin-right: 20px
   
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 

}
.dws-menu{

padding-left: 165px

}
   
.pase{
margin-left: 280px;
margin-top: 110px
}
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
table.text td {
    width: 99%;
    vertical-align: top;
}


}



/*<!------------------------------------------------------------------------------------------------------------------------->*/

@media(max-width: 500px){






.menu {
position: fixed;
width: 470px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -530px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;

}
#sidebar.active{
right: 40px;
top:3px;
z-index: 2;
}
#sidebar ul li:first-child {
  text-align: center;
  color: white;
  font-size:2.0em;
  list-style-type: none;
  padding: 1px 10px 80px 10px;
color: white

}
#sidebar ul li:not(:first-child) {
  width: 42%;
  margin-left:10px;
  color: white;
  font-size:2.0em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white;
    text-align: center;
  margin-bottom:5px;
}





#sidebar ul li a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ul li a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 550px;
top: 20px;
background: #E0E5EA;
padding: 20px;   
border-radius:12px;
cursor: pointer;
margin-right: 20px
   
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 

}



.knuu{

float:left ; width: :162px ; height:65px;

}
.wave{

  float:right ; width: :102px ; height:52px; padding-right: 240px
}









.dws-menu{

padding-left: 155px

}
.pase{
margin-left: 80px;
margin-top: 70px
}
.ww{


font-size: 37px;
text-align: center;

}
.pr{

text-align: left;
color: black;
font-size: 18px;
padding-right: px;
padding-left: 10px;
padding-bottom: 50px;
padding-top: 40px;
}

.select {
    font-weight: 600;
    line-height: 1
}

.style{

background-image:url(https://info-one.ua/wp-content/uploads/2020/03/F359ABA0-F355-488E-909A-5B876C018A5B_w1023_r1_s.jpg);
background-repeat:no-repeat;
background-attachment: fixed;

width:300px ;
height: 300px;
margin: 1px;
width: 100%
}

.fi{

padding: 00px;text-align: ; font-size: 50px;color: white ;font-family:Resonay Solid Medium;font-size-adjust;padding-top: 50px;text-shadow:1px 1px 2px black, 0 0 1em black;width:100% 


}


.taf{

color:#1E1E1E;font-size:22px;font-family: Canela Dec Web;text-align: center;padding-right:60px


}
.anim-show{
    
float: left;
    padding-right: 70px;
    padding-bottom: 100px;
    width: 287px;
    padding-left: 140px;
    padding-top: 20px;
    font-size: 25px;
    padding: 0px;
    margin: auto;
    text-align: center;
    opacity: 0;
    transition: 1s;
    animation: show 1.7s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;


}

.anim-show2 {
    float: left;
    
    padding-bottom: 750px;
    width: 292px;
    padding-top: 340px;
    font-size: 25px;
    padding-left: 0px;
    text-align: left;
    opacity: 0;
    transition: 1s;
    animation: show 1.7s 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    padding-right: 1px
}

.anim-show3{

 float: left;
    
    padding-bottom: 750px;
    width: 292px;
    padding-top: 340px;
    font-size: 25px;
    padding-left: 0px;
    text-align: left;
    opacity: 0;
    transition: 1s;
    animation: show 1.7s 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;


}


.sign {
    float: left;
    border: 1px solid #333;
    padding: 1px;
    margin: 0px 0 0px 0px;
    background: #f0f0f0;
    margin-bottom: 1100px;
    width: 310px;
}

.class
{
float: left;
    padding-right: 70px;
    padding-bottom: 10px;
    width: 307px;
    padding-left: 140px;
    padding-top: 2px;
    font-size: 25px;
    padding: 1px;
    margin: auto;
    text-align: center;
    opacity: 0;
    transition: 1s;
    animation: show 1.7s 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;">



}
.dada{

font-family:Canela Dec Web ;font-size: 48px;padding-right: 1px;padding-top:1px;float: none  ;margin-left: 20px;margin-top: 1px;color:black;

}


.f {
    font-family: Canela Dec Web;
    line-height: 1px;
    font-size: 41px;
    padding-right: 85px;
    padding-top: 1px;
    float: center;
    margin-left: 1px;
    margin-top: 2762px;
    padding-top: 1896px;
    color: black;
    padding-right: 100px;
}


.ppp{

    font-family: GT America Standart Regular;
    font-size: 16px;
    margin-bottom: 22px;
   


  
}
.hhh{

    font-family: Canela Dec Web;
    font-size: 36px;

}

.gif{
    padding-top: 800px;
    width: 380px; 
height: 316px;
padding-right: 1px;

}
.gif1{

    padding-right: 1px;
    padding-top: 1400px;
    width: 380px;
height: 316px;
  
}
.rightcol{

  width: 425px;
    text-align: center


}
.back{
background-color: black; padding-left:3px ; margin-right:px;padding-top:70px;padding-bottom:60px ;text-align: initial  ;width: 100%
}
table.text td {
    width: 425px;
    vertical-align: top;
}
.classs{


font-family:Canela Dec Web ;line-height: 0.1;font-size: 42px;padding-right: 10px;padding-top:1px;float: center  ;margin-left:1px;margin-top: 50px;color:black;text-decoration: none;
}
.knu{

float:left ; width: :66px ; height:66px;
  
}
table.text td {
    width: 100%;
    vertical-align: top;
    text-align: center;
}
.ban{

margin: 28px;padding-left:1px;padding-right:1px ;

}
.cov
{
padding: 60px;text-align: center; font-size: 70px;color: white ;font-family:Resonay Solid Medium;font-size-adjust;padding-top: 130px;text-shadow:1px 1px 2px black, 0 0 1em black;  
}
.covv{
  padding: 60px;text-align: center; font-size: 50px;color: white ;font-family:Resonay Solid Medium;font-size-adjust;padding-top: 130px;text-shadow:1px 1px 2px black, 0 0 1em black;  
}
.dast{

color:#1E1E1E;font-size:30px;font-family: Canela Dec Web;text-align: center;padding-right:77px;padding-top: 8px 
}






/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/

/*<!------------------------------------------------------------------------------------------------------------------------->*/














@media (max-width:426px ){
.container{
 
width:100%;
}



.all{
padding: 15px;text-align: center; font-size: 60px;color: white ;font-family:Resonay Solid Medium;font-size-adjust;padding-top: 130px;text-shadow:1px 1px 2px black, 0 0 1em black;  
padding-right: 1px;padding-bottom: 100px
  
}

.covv {
    padding: 0px;
    text-align: center;
    font-size: 43px;
    color: white;
    font-family: Resonay Solid Medium;
    font-size-adjust: ;
    padding-top: 123px;
    padding-bottom: 90px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}



.cov {
    padding: 6px;
    text-align: center;
    font-size: 63px;
    color: white;
    font-family: Resonay Solid Medium;
    font-size-adjust: ;
    padding-top: 130px;
    padding-bottom: 100px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.p5{

width: 380



}



.cov {
    color: #1E1E1E;
    font-size: 17px;
    font-family: Canela Dec Web;
    text-align: center;
    padding-right: 108px;
}








}







/*<!!!!!!!!!!!!!___________________________________________________________!!!!!!!!!!!!>*/




@media (max-width:321px ){
.container{
 
width:321px;
}

.dws-menu{

padding-left: 135px
}

.pase{
margin-left: 45px;
margin-top: 70px
}


.menu {
position: fixed;
width: 470px;
height: 700px;
padding-bottom: 10px;
border-radius: 10px;
background: #0e0e0e;
border-right:4px solid crimson;
right: -530px;
-moz-transition:all 600ms;
-webkit-transition:all 600ms;
transition:all 600ms;
margin-top:1px;
line-height: 90px;
z-index:2;

}
#sidebar.active{
right: 40px;
top:3px;
z-index: 2;
}
#sidebar ul li:first-child {
  text-align: center;
  color: white;
  font-size:0.7em;
  list-style-type: none;
  padding: 1px 1px 15px 1px;
color: white

}
#sidebar ul li:not(:first-child) {
  width: 40%;
  margin-left:1px;
  color: white;
  font-size:1.3em;
  list-style-type: none;
  padding: 1px 1px ;
  font-size:px;
  color: white

}




#sidebar ul li a{

color: #dfe5eb;
text-decoration:none;

}
#sidebar ul li a:hover {color:#59ef23;}



#sidebar .toggle-btn{
position: absolute;
right: 550px;
top: 20px;
background: #E0E5EA;
padding: 10px;   
border-radius:12px;
cursor: pointer;
margin-right: 20px
   
}

#sidebar .toggle-btn:hover {background:#556270 } 
#sidebar .toggle-btn:hover span {background:#fafafa } 
#sidebar .toggle-btn span{
display:block;
width:25px;
height:4px;
background: #669;
margin: 4px 0; 

}

.wave{

  float:right ; width: :102px ; height:52px; padding-right: 167px
}



}